# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.theme
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Turborepo
.turbo

# Tauri / Rust
**/src-tauri/target
**/target

# Build artifacts
packages/*/dist
apps/*/dist

# System Files
.DS_Store
Thumbs.db
